html{
  font-family: 'Varela', sans-serif;
  text-align: center;
}
body{
  margin: 0 auto;
  max-width: 120em;
  height: 100%;
  background-color: #262626;
  background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(26,26,26,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: gainsboro;
}
main{
/* this forces enough space at the top to fix the header */
  padding: 5em 0;
  margin 0;
}
main p, main h2{
/* this indents the text elements a bit from the header and demo app-builds */
  text-align: justify;
  padding: 0 1em;
}
h1{
  font-size: 1.8em;
  text-align: center;
  color: orange;
}
h2 {
  font-size: 1.4em;
}
h2:nth-of-type(even) {
  /* this aligns every other h2 to the right */
  text-align: right;
}
/* these cycle the h2s through three font colors */
h2:nth-of-type(3n+1) {
  color: aqua;
}
h2:nth-of-type(3n+2) {
  color: chartreuse;
}
h2:nth-of-type(3n+3) {
  color: magenta;
}
p{
  font-size: 1.2em;
}

a{
  text-decoration: none;
  color: ghostwhite;
}
a:hover {
  color: orange;
}
a:visited {
  color: dimgray;
}
img{
  /* this is the intro tile size in the collapsed/ inactive app builds */
  width: 4em;
  height: 4em;
  padding: 0.2em;
}
li {
  /* all of the lis are flexed, centered and padded */
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0.2em;
  color: ghostwhite;
}
.aug-em{
  /* this turns all instances of the word 'aug' orange */
  color: orange;
  font-style: normal;
}
header{
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  margin: auto 0;
  padding: 0;
  width: 100%;
  min-height: 3.5em;
  background-color: rgba(0,0,0,0.8);
  color: ghostwhite;
}
nav{
  /* this is the text links on the left side of the header */
  display: flex;
  justify-content: space-between;
}
nav li{
  padding: 1em;
}
aside{
  /* this is the social media links on the right side of the header */
  display: flex;
  justify-content: space-between;
}
aside li{
  margin-top: 0.15em;
  /* the social-media icons aren't quite centered, so this top margin is to even
  out the total size of the raster drawings */
  padding: 0.3em;
}
svg {
  /* this sizes the social media icons */
  width: 2.5em;
  height: 2.5em;
  viewBox: 0 0 2.5em 2.5em;
}
path{
  /* this colors the social media icons white */
  fill: #FFF;
  fill-rule: evenodd;
}
.op-sys {
  /* this is the container for the operating system buttons */
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
}
.toggle{
  /* this styles the left and right op-sys buttons differently (so the center is
  a straight line with no margin)  */
  height: 2em;
  width: 10em;
}
.toggle-left{
  border-radius: 1em 0 0 1em;
  border-width: 0.5em 0 0.5em 0.5em;
}
.toggle-right{
  border-radius: 0 1em 1em 0;
  border-width: 0.5em 0.5em 0.5em 0;
}
/* these style each op-sys button with brand colors for both as-is and hover states */
.windows{
  border: solid #0078D7;
  color: #0078D7;
}
.windows:hover{
  background-color: #0078D7;
  color: #FFFFFF;
}
.mac{
  border: solid #DCDDDF;
  color: #DCDDDF;
}
.mac:hover{
  background-color: #DCDDDF;
  color: #000000;
}
label{
  /* centers button label */
  display: flex;
  align-items: center;
}
input[type="radio"]{
  /* 'mac' and 'windows' are radio buttons; this hides the buttons and turns
  the entire .toggle-left and .toggle-right elements into radio buttons. i
  haven't added any javascript yet for the button behavior. */
  display: none;
  height: 2em;
  width: 5em;
}
.trial {
  /* this is the container for both 'try' buttons */
  display: flex;
  justify-content: center;
}
.trial button{
  /* this is the styling for each 'try' button */
  float:left;
  height: 3em;
  min-width: 10em;
  border: 0.1em solid orange;
  border-radius: 1em;
  margin: 0 1em;
  font-size: 1.4em;
  color: orange;
  background-color: transparent;
}
.trial button:hover{
  background-color: orange;
  color: #000000;
}
ul, .augtab:hover ul, .augtab:hover ul a{
  /* i figured out why i couldn't center these in line with the social-media
  icons in checkpoint 1. flexbox only applies to the first child element, so i
  needed to assign display: flex to each level of nested <div>s that i needed
  to center. i added display: flex and styling to the <nav> container this is
  nested in to make it center in the header. */
  visibility: visible;
  display: flex;
  /* flex-basis: auto; */
  justify-content: space-between;
  align-items: flex-start;
  /* the links in the demo 'aug' tab only aren't affected by link activity. until
  they expand some settings menus or something and are dummies for demo use only,
  i wanted to remove the link styling, which would imply clicking them should
  make something happen. */
  color: #262626;
  margin: 0;
  padding: 0;
}
.augtab ul{
  /* this is for the settings in build-4 'aug' tab which are hidden until you
  hover */
  visibility: hidden;
  transition: width 2s;
}
.augtab ul li:nth-child(1){
  /* this is to make the 'aug' entry visible in build-3 before hover */
  visibility: visible;
}
.aug-caption{
  /* this is a container for the two captioned builds, so the captions appear
  inline with 'aug' tab */
  display: flex;
  justify-content: space-between;
}
.aug-caption-text{
  /* this styles the caption text under two of the aug demo builds */
  justify-self: center;
  padding: 0.4em;
  font-style: italic;
  color: orange;
}
.app-container{
  /* in the two non-captioned builds, this is to keep 'aug' tab nested with the
  .release-nav (the album pictures) but still appear below it, as if the tab was
  a block element. the next element will appear BELOW the bottom edge of
  the 'aug' tab, instead of below the bottom edge of .release-nav (which would
  be inline with the 'aug' tab and wouldn't look right).  */
  display:flex;
  flex-direction: column;
  width: 100%;
}
.expanded {
  /* this is an overall aug-build container that creates enough room around
  build 2 so its height can be expanded on :hover without moving the surrounding
  text. */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18.2em;
}
.app-nav{
  /* this is the inside of the app build, where the img tiles line up. */
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  padding: 0.2em;
  width: 100%;
  background-color: #262626;
  border: 1px solid orange;
  border-width: 1px 0;
}
.app-nav-trigger{
  /* the entire width of the .app-nav is a trigger area when the individual
  releases enlarge on hover */
  height: 5.4em;
  transition: height 0.2s;
}
.app-nav-trigger:hover{
  height: 16.2em;
}
.augtab{
  /* this is the small orange tab aligned right on all the builds */
  align-self: flex-end;
  /* this is to make the 'aug' tab justify to the right. */
  height: 1.3em;
  padding: 0 0.4em;
  margin: 0 0.1em;
  width: 2.3em;
  font-size: 15px;
  text-align: center;
  background-color: orange;
  border-radius: 0 0 0.4em 0.4em;
  color: rgba(0,0,0,0.8);
}
/* these next two styles expand the tab on one of the builds with 'settings'
links */
.build-4 .augtab{
  transition: width 0.2s;
}
.build-4 .augtab:hover{
  width: 16em;
}
/* release-trigger is the INDIVIDUAL per-release transforms and translates. */
.release-trigger{
  transition: 0.2s;
}
.release-trigger:hover {
  transform: scale(3.4) translate(-36%, 4%);
}

.build-3{
  margin: 0 auto;
}
.build-4{
  padding: 0;
  width: 100%;
  border-top: 1px solid orange;
}
.build-4 li {
  padding: 0 0.3em;
  color: #262626;
}
.focus-li:hover, .build-3 .focus-li {
/* this is to create a border and a left arrow pointing to the tooltip ONLY when
it's transformed, so there's only a :hover class for .focus-li... there is no
as-is state. */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 5em 0.5em 0.5em 0.5em;
  border-radius: 0 0.2em 0.2em 0;
  background-color: orange;
}
.build-3 .focus-li{
  margin: 0.5em;
}
.focus-li:before {
  /* this creates the left arrow */
  content: "";
  position: absolute;
  left: -1em;
  width: 0;
  height: 0;
  border-right: 1em solid orange;
  border-top: 2.2em solid transparent;
  border-bottom: 2.2em solid transparent;
}
.focus-li:hover img, .build-3 .focus-li img{
  /* this removes the padding when you hover over build-3; the padding was only
  needed in build-2. probably a better way to design this but i ran out of time
  to re-organize it. */
  padding: 0;
}
.tooltip .tooltiptext {
  /* tooltips are only in aug build 2 when you hover over individual releases */
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 1;
  right: 125%;
  background-color: rgba(0, 0, 0, 0.77);
  text-align: right;
  vertical-align: middle;
  font-family: 'Varela', sans-serif;
  color: ghostwhite;
  height: auto;
  width: 20em;
  font-size: 0.25em;
  padding: 0.3em 0.5em;
  margin-left: 0.3em;
  box-sizing: border-box;
  border-radius: 0.4em;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-build-2 {
  right: 101%;
}
.listened {
  font-weight: bold;
  color: magenta;
}
.focus-img, .build-3 img{
  /* this enlarges the pics in build-2 on :hover and permanently enlarges the pic
  in build-3 (as-is state); build-3 has no hover state */
  width: 15em;
  height: 15em;
}
.info{
  /* this is the container for build 3 */
  display: flex;
  flex-direction: column;
  float: left;
  width: 30em;
  height: 15em;
  margin: 0.4em;
  background-color: #262626;
  border-radius: 0.4em 0 0 0.4em;
  color: fuchsia;
}
/* these are the album title box, top of build 3 */
.title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 0.5em 0.255em 0.5em;
  padding: 0;
  height: calc(20%);
  width: calc(100% - 1.2em);
  font-size: 1.2em
  border-radius: 0.5em;
  border: 0.1em solid ghostwhite;
}
.title-info-top{
  width: 0 auto;
  height: inherit calc(50% - 1em);
  border-bottom: 0.1em dotted dimgray;
}
.title-info-bottom{
  height: inherit 0.5em;
  width: 0 auto;
}
/* these are the track info rows, bottom of build 3 */
.track-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.3em 0.5em 0.5em 0.5em;
  height: calc(80%);
  width: calc(100% - 1.2em);
  border-radius: 0.5em;
  border: 0.1em solid ghostwhite;
}
.track-number{
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}
.track-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(14.285%);
  width: 0 auto;
  border-bottom: 0.1em dotted dimgray;
}
.track-percentage{
  width: calc(70%);
  height: calc(60%);
  padding: 0 0.1em;
  border-radius: 0.5em;
  border: 0.1em solid fuchsia;
  text-align: left;
  font-size: 0.7em;
  color: ghostwhite;
}
/* these .p classes fill the progress bars in the track examples */
.p15{
  background: linear-gradient(90deg, fuchsia 15%, #262626 0%);
}
.p16{
  background: linear-gradient(90deg, fuchsia 16%, #262626 0%);
}
.p40{
  background: linear-gradient(90deg, fuchsia 40%, #262626 0%);
}
.p53{
  background: linear-gradient(90deg, fuchsia 53%, #262626 0%);
}
.p60{
  background: linear-gradient(90deg, fuchsia 60%, #262626 0%);
}
.p63{
  background: linear-gradient(90deg, fuchsia 63%, #262626 0%);
}
.p91{
  background: linear-gradient(90deg, fuchsia 91%, #262626 0%);
}
.silent{
/* these are the rows the theoretical user hasn't listened to and are therefore
grayed out on the build example */
  border-color: dimgray;
  color: dimgray;
}
footer{
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  padding: 2em 0;
  width: 100%;
  background-color: #000;
}
footer ul{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  list-style-type: none;
  padding: 2em;
  color: ghostwhite;
}
footer li{
  padding: 1em;
}
/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
  html{
    font-size: 200%;
  }
  header{
    font-size: 100%;
  }
  aside{
    display: none;
  }
}
