body{
  margin: 0 auto;
  font-size: 62.5%;
  /* i read at https://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
  that using percent to font-size the body element helps users scale text
  consistently on any device, and then using em to size all child elements keeps
  it mobile-friendly but still scalable across a smaller, more consistent
  range than percent only. the base % of 62.5 also translates to 1em = 10pt,
  1.1em = 11 pt, 1.2 em = 12 pt etc. in the children. */
}
a{
  text-decoration: none;
}
li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0.4em 0.2em;
  color: ghostwhite;
}
img{
  width: 4em;
  height: 4em;
  padding: 0.4em;
}
em{
  color: magenta;
}
.release-nav{
  display: flex;
  justify-content: flex-end;
}
ul{
  /* i figured out why i couldn't center these in line with the social-media
  icons in checkpoint 1. flexbox only applies to the first child element, so i
  needed to assign display: flex to each level of nested <div>s that i needed
  to center. i added display: flex and styling to the <nav> container this is
  nested in to make it center in the header. */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
header{
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}
nav{
  display: flex;
  justify-content: space-between;
}
nav li{
  padding: 1em;
}
aside{
  display: flex;
  justify-content: space-between;
}
aside li{
  margin-top: 0.15em;
  /* the social-media icons aren't quite centered, so this top margin is to even
  out the total size of the raster drawings */
  padding: 0.3em;
}
.aug-em{
  color: orange;
  font-style: normal;
}
.release-container{
  display:flex;
  flex-direction: column;
  /* this is to keep 'aug' tab nested with the .release-nav (the album pictures)
  but still appear below it, as if the tab was a block element. the next element
  will also appear below the bottom edge of the 'aug' tab, instead of below the
  bottom edge of .release-nav (which would be inline with the 'aug' tab).  */
}
.release-nav{
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  padding: 0 2px;
  width: 100%;
  min-height: 35px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid orange;
  border-width: 1px 0;
}
.augtab{
  align-self: flex-end;
  /* this is to make the 'aug' tab justify to the right. */
  height: 1.3em;
  width: 3.2em;
  margin: 0 0.1em;
  font-size: 15px;
  text-align: center;
  background-color: orange;
  border-radius: 0 0 4px 4px;
  color: rgba(0,0,0,0.8);
}
.trigger{
  display: block;
  transition: width 0.2s, height 0.2s, transform 0.2s;
}
.trigger:hover {
  display: inline-block;
  margin: 0.2em auto;
  transform: scale(4) translate(-25%, 25%);
}
.focus-li:hover {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4em 0.4em 0.4em 0;
  margin: 0.4em;
  border-radius: 0.4em;
  background-color: orange;
  border: 1px solid orange;
}
.focus-li .build-3 {
  background-color: transparent;
}
.focus-li:before {
  position: absolute;
  content: "";
  left: -0.9em;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 0.8em solid orange;
  border-top: 8.3em solid transparent;
  border-bottom: 8.3em solid transparent;
}
.focus-li:before .build-3 {
  position: absolute;
  content: "";
  left: -0.8em;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 0.8em solid orange;
  border-top: 8.3em solid transparent;
  border-bottom: 8.3em solid transparent;
}
.triangle-left {
  /* visibility: hidden; */
  display: flex;
  align-items: center;
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-right: 1em solid #262626;
  border-bottom: 1em solid transparent;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 1;
  right: 120%;
  background-color: rgba(0, 0, 0, 0.77);
  text-align: right;
  font-family: 'Varela', sans-serif;
  color: ghostwhite;
  height: 4.6em;
  width: 15em;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  margin-left: 0.3em;
  box-sizing: border-box;
  border-radius: 0.4em;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-build-2 {
  right: 101%;
  /* text-align: right; */
}
.listened {
  font-weight: bold;
  color: magenta;
}
.focus-img{
  display: block;
  width: 15em;
  height: 15em;
}
