html{
  font-family: 'Varela', sans-serif;
  text-align: center;
}
body{
  margin: 0 auto;
  font-size: 62.5%;
  /* i read at https://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
  that using percent to font-size the body element helps users scale text
  consistently on any device, and then using em to size all child elements keeps
  it mobile-friendly but still scalable across a smaller, more consistent
  range than percent only. the base % of 62.5 also translates to 1em = 10pt,
  1.1em = 11 pt, 1.2 em = 12 pt etc. in the children. */
  max-width: 120em;
  height: 100%;
  background-color: #262626;
  background: linear-gradient(to right, rgba(0,0,0,.7) 0%, rgba(26,26,26,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: gainsboro;
}
a{
  text-decoration: none;
  color: ghostwhite;
}
a:hover {
  color: orange;
}
a:visited {
  color: dimgray;
}
img{
  width: 4em;
  height: 4em;
  padding: 0.2em;
}
em{
  color: magenta;
}
ul, .augtab:hover ul{
  /* i figured out why i couldn't center these in line with the social-media
  icons in checkpoint 1. flexbox only applies to the first child element, so i
  needed to assign display: flex to each level of nested <div>s that i needed
  to center. i added display: flex and styling to the <nav> container this is
  nested in to make it center in the header. */
  visibility: visible;
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.augtab ul{
  visibility: hidden;
  transition: width 2s;
}
.augtab:hover ul{
  transform: width();
}
.augtab ul li:nth-child(1){
  /* this is to make the 'aug' entry visible in build-3, which is the build where
  the visitor can hover over the tab to see more settings expand*/
  visibility: visible;
}
li {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0.3em;
  color: ghostwhite;
}
main p, main h2{
  text-align: justify;
  padding: 0 1em;
}
header{
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  margin: auto 0;
  padding: 0;
  width: 100%;
  min-height: 3.5em;
  background-color: rgba(0,0,0,0.8);
  color: ghostwhite;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav li{
  padding: 1em;
}
aside{
  display: flex;
  justify-content: space-between;
}
aside li{
  margin-top: 0.15em;
  /* the social-media icons aren't quite centered, so this top margin is to even
  out the total size of the raster drawings */
  padding: 0.3em;
}
svg {
  width: 2.5em;
  height: 2.5em;
  viewBox: 0 0 2.5em 2.5em;
}
path{
  fill: #FFF;
  fill-rule: evenodd;
}
.aug-em{
  color: orange;
  font-style: normal;
}
.app-container{
  display:flex;
  flex-direction: column;
  /* this is to keep 'aug' tab nested with the .release-nav (the album pictures)
  but still appear below it, as if the tab was a block element. the next element
  will also appear below the bottom edge of the 'aug' tab, instead of below the
  bottom edge of .release-nav (which would be inline with the 'aug' tab).  */
}
.expanded {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 18.2em;
}
.app-nav{
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: auto 0;
  padding: 0.2em;
  width: 100%;
  background-color: #262626;
  border: 1px solid orange;
  border-width: 1px 0;
}
.app-nav-trigger{
  height: 5.4em;
  transition: height 0.2s;
}
.app-nav-trigger:hover{
  height: 16.2em;
}
.augtab{
  align-self: flex-end;
  /* this is to make the 'aug' tab justify to the right. */
  height: 1.3em;
  padding: 0 0.4em;
  margin: 0 0.1em;
  width: 2.3em;
  font-size: 15px;
  text-align: center;
  background-color: orange;
  border-radius: 0 0 0.4em 0.4em;
  color: rgba(0,0,0,0.8);
}
.build-4 .augtab{
  transition: width 0.2s;
}
.build-4 .augtab:hover{
  width: 16em;
}
.release-trigger{
  transition: 0.2s;
}
.release-trigger:hover {
  transform: scale(3.4) translate(-36%, 4%);
}
margin-container{
  margin-bottom:
}
margin-container:hover{
  margin-bottom:
}

/* i tried creating a trigger out of the entire .app-nav to keep the translate
from jittering, but it's not working. */

/* .release-trigger:hover .li-trigger{
  transform: scale(3.4) translate(-36%, 36%);
} */


/* i also tried putting each li in a div to create a trigger, but it doesn't
work. */

/* .li-trigger{
  box-sizing: border-box;
  height: 4.8em;
  width: 4.8em;
  border: 1px solid white;
} */

/* .release-trigger:hover .li-trigger{
  transform: scale(3.4) translate(-36%, 36%);
} */

.build-3{
  margin: 0 auto;
}
.build-4{
  padding: 0;
  width: 100%;
  border-top: 1px solid orange;
}
.build-4 li {
  padding: 0 0.3em;
  color: #262626;
}
.focus-li:hover, .build-3 .focus-li {
/* this is to create a border and an arrow pointing to the tooltip only when
it's transformed, so there's only a :hover class for .focus-li. */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 5em 0.5em 0.5em 0.5em;
  border-radius: 0 0.2em 0.2em 0;
  background-color: orange;
}
.build-3 .focus-li{
  margin: 0.5em;
  /* transform: width(20em); */
}
.focus-li:before {
  content: "";
  position: absolute;
  left: -1em;
  width: 0;
  height: 0;
  border-right: 1em solid orange;
  border-top: 2.2em solid transparent;
  border-bottom: 2.2em solid transparent;
}
.focus-li:hover img, .build-3 .focus-li img{
  padding: 0;
}
.tooltip .tooltiptext {
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 1;
  right: 125%;
  background-color: rgba(0, 0, 0, 0.77);
  text-align: right;
  vertical-align: middle;
  font-family: 'Varela', sans-serif;
  color: ghostwhite;
  height: auto;
  width: 20em;
  font-size: 0.25em;
  padding: 0.3em 0.5em;
  margin-left: 0.3em;
  box-sizing: border-box;
  border-radius: 0.4em;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip-build-2 {
  right: 101%;
  /* text-align: right; */
}
.listened {
  font-weight: bold;
  color: magenta;
}
.focus-img, .build-3 img{
  width: 15em;
  height: 15em;
}
.info{
  display: flex;
  flex-direction: column;
  float: left;
  width: 300px;
  /* i wonder how i can inherit the height from the img nested in the same class?
  in this case it's .focus-img */
  height: 150px;
  margin: 4px;
  background-color: #262626;
  border-radius: 4px 0 0 4px;
  color: fuchsia;
}
.track-number{
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}
.title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px 2.55px 5px;
  padding: 0;
  height: calc(20%);
  width: calc(100% - 12px);
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid ghostwhite;
}
.title-info-top{
  width: 0 auto;
  height: inherit calc(50% - 10px);
  border-bottom: 1px dotted dimgray;
}
.title-info-bottom{
  height: inherit 50%;
  width: 0 auto;
}
.track-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5px 5px 5px 5px;
  height: calc(80%);
  width: calc(100% - 12px);
  border-radius: 5px;
  border: 1px solid ghostwhite;
}
.track-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(14.285%);
  width: 0 auto;
  border-bottom: 1px dotted dimgray;
}
.track-percentage{
  width: calc(70%);
  height: calc(60%);
  padding: 0 1px;
  border-radius: 5px;
  border: 1px solid fuchsia;
  font-size: 40%;
  color: ghostwhite;
}
.p15{
  background: linear-gradient(90deg, fuchsia 15%, #262626 0%);
}
.p16{
  background: linear-gradient(90deg, fuchsia 16%, #262626 0%);
}
.p40{
  background: linear-gradient(90deg, fuchsia 40%, #262626 0%);
}
.p53{
  background: linear-gradient(90deg, fuchsia 53%, #262626 0%);
}
.p60{
  background: linear-gradient(90deg, fuchsia 60%, #262626 0%);
}
.p63{
  background: linear-gradient(90deg, fuchsia 63%, #262626 0%);
}
.p91{
  background: linear-gradient(90deg, fuchsia 91%, #262626 0%);
}
.silent{
  border-color: dimgray;
  color: dimgray;
}
